div.header {
    font-size: 48px;
    width: 900px;
    margin: 0 auto;
    border-bottom: 4px solid #DDD;
    color: #333;
    height: 90px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Vollkorn', serif;
    text-align: center;
    margin-bottom: 50px;
}

div.footer {
    width: 900px;
    margin: 0 auto;
    height: 90px;
}

div.post {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    width: 900px;
    margin: 0 auto;
    text-align: justify;
}

img.wrapRight {
    float: right;
    margin: 10px;
}

img.wrapLeft {
    float: left;
    margin: 10px;
}

img.wrapCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

code {
    font-family: 'Source Code Pro';
    font-size: 20px;
    color: #777;
}
